<div class="container">
  <form class="form-inline">
    <select name="queryType" id="soflow" [(ngModel)]="queryType" class="selectpicker" #query>
      <option value="idNumber">ID</option>
      <option value="name">申請人</option>
    </select>
    <div class="autocomplete">
      <input placeholder="請輸入查詢關鍵字" list="suggest-list" class="input" type="search" id="search" autocomplete="off" [(ngModel)]="queryKey"
        name="queryKey" #input>
      <datalist id="suggest-list" class="suggest" #selected>
        <option *ngFor="let i of keylist">{{i}}</option>
      </datalist>
    </div>

    <button class="btn btn-primary" style="margin: 20px" (click)="search()">查詢</button>
    <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#loancaseEditModal" (click)="resetEditLoancase()">新增案件</button>
  </form>


  <div class="row">
    <label for="rowCount">每頁顯示: </label>
    <select style="width: 130px" id="rowCount" [(ngModel)]="pagination.pageSize" (change)="search()">
      <option *ngFor="let row of rowList" [value]="row.value">
        {{row.display}}
      </option>
    </select>

    <label>，總共: </label>
    {{pagination.totalCount}}
    <label>筆資料 </label>
  </div>

  <table class="table table-striped ">
    <thead>
      <tr>
        <th colspan='14' class="text-center">
          <h4>案件清單</h4>
        </th>
      </tr>
      <tr>
        <th>ID</th>
        <th>申請人</th>
        <th>貸款狀態</th>
        <th>連絡人</th>
        <th>申請日</th>
        <th>營業員</th>
        <th>拜訪日期</th>
        <th>回覆日期</th>
        <th>票信查詢</th>
        <th>建檔日期</th>
        <th>建檔人員</th>
        <th>最後修改日期</th>
        <th>最後修改人員</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loancase of loancases">
        <td>{{loancase.idNumber}}</td>
        <td>{{loancase.name}}</td>
        <td>{{loanStatusMap[loancase.status]}}</td>
        <td>{{loancase.contactor}}</td>
        <td>{{loancase.applyDate|date:'yyyy-MM-dd'}}</td>
        <td>{{loancase.sales}}</td>
        <td>{{loancase.salesVisitDate|date:'yyyy-MM-dd'}}</td>
        <td>{{loancase.lastReplyDate|date:'yyyy-MM-dd'}}</td>
        <td>{{loancase.ticketCredit}}</td>
        <td>{{loancase.createDate|date:'yyyy-MM-dd hh:mm'}}</td>
        <td>{{loancase.createUser}}</td>
        <td>{{loancase.modifyDate|date:'yyyy-MM-dd hh:mm'}}</td>
        <td>{{loancase.modifyUser}}</td>
        <td>
          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#loancaseEditModal" (click)="setEditLoancase(loancase)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a class="btn btn-warning" data-toggle="modal" data-target="#loancaseHisModal" (click)="getHistLoancase(loancase._id)">
            <i class="fa fa-history" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade col-md-12" id="loancaseEditModal" tabindex="-1" role="dialog" aria-labelledby="loancaseEditModalLabel"
    aria-hidden="true">
    <app-loancase-edit [loancaseEdit]="loancaseEdit" [search]="theBoundCallback"></app-loancase-edit>
  </div>

  <!-- Modal -->
  <div class="modal fade col-md-12" id="loancaseHisModal" tabindex="-1" role="dialog" aria-labelledby="loancaseHisModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content col-md-12">
        <div class="modal-body">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>異動</th>
                <th>ID</th>
                <th>申請人</th>
                <!-- <th>貸款狀態</th> -->
                <th>連絡人</th>
                <th>申請日</th>
                <th>營業員</th>
                <th>拜訪日期</th>
                <th>回覆日期</th>
                <th>票信查詢</th>
                <th>修改日期</th>
                <th>修改人員</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let his of loancaseHist">
                <td>{{statusMap[his.action]}}</td>
                <td>{{his.idNumber}}</td>
                <td>{{his.name}}</td>
                <!-- <td>{{loanStatusMap[his.status]}}</td> -->
                <td>{{his.contactor}}</td>
                <td>{{his.applyDate|date:'yyyy-MM-dd'}}</td>
                <td>{{his.sales}}</td>
                <td>{{his.salesVisitDate|date:'yyyy-MM-dd'}}</td>
                <td>{{his.lastReplyDate|date:'yyyy-MM-dd'}}</td>
                <td>{{his.ticketCredit}}</td>
                <td>{{his.modifyDate|date:'yyyy-MM-dd hh:mm'}}</td>
                <td>{{his.modifyUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [(ngModel)]="pagination.pageNumber"
    class="pagination-sm" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;"></pagination>
</div>