body {
  padding-top: 5rem;
}

.label {
  white-space: inherit;
  font-size: 100%;
  display: inline-grid;
}

#relationHistModal div {
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
}
#relationHistModal div::-webkit-scrollbar {
  display: none;
} 