<div class="container">
  <form action="" class="form-inline">

    <select name="queryType" id="soflow" [(ngModel)]="queryType" class="selectpicker col-md-3" #query>
      <option value="idNumber">統編</option>
      <option value="name">姓名</option>
      <option value="reason">原因</option>
    </select>

    <div class="autocomplete col-md-3">
      <input placeholder="請輸入查詢關鍵字" list="suggest-list" class="input" type="search" id="search" autocomplete="off" [(ngModel)]="queryKey" name="queryKey"
        #input>
      <datalist id="suggest-list" class="suggest" #selected>
        <option *ngFor="let i of list">{{i}}</option>
      </datalist>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" style="margin: 20px" (click)="search()">查詢</button>
    </div>
  </form>
  <div class="col-md-12">
    <div *ngFor="let relation of relations">
      <div class="col-md-6">
        <label>登錄原因: </label>{{relation.reason}}
      </div>
      <div class="col-md-6">
        <a class="btn btn-danger pull-right">
          <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteRelation(relation._id)"></i>
        </a>
        <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#relationEditModal" (click)="setEditRelation(relation)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-6">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>
                借款人:
              </th>
            </tr>
            <tr>
              <th>負責人/公司統編</th>
              <th>負責人/公司名</th>
              <th>註記</th>
            </tr>
          </thead>
          <tr *ngFor="let subject of relation.subjects">
            <td>{{subject.idNumber}} </td>
            <td>{{subject.name}}</td>
            <td> {{subject.memo}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>
                關係人:
              </th>
            </tr>
            <tr>
              <th>關係人/公司統編</th>
              <th>關係人/公司名</th>
              <th>關係</th>
              <th>註記</th>
            </tr>
          </thead>
          <tr *ngFor="let object of relation.objects">
            <td>{{object.idNumber}} </td>
            <td>{{object.name}}</td>
            <td>
            <div  *ngFor="let r of object.relationType">
                <label class="label label-primary">{{r}}</label>
                
            </div>
          </td>
          <td>{{object.memo}}
          </td>
          </tr>
        </table>
      </div>

      <div class="col-md-3">
        <label>建檔人員: </label>{{relation.createUser}}
      </div>
      <div class="col-md-3">
        <label>建檔日期: </label>{{relation.createDate}}
      </div>

      <div class="col-md-3">
        <label>最後修改人員: </label>{{relation.modifyUser}}
      </div>
      <div class="col-md-3">
        <label>最後修改日期: </label>{{relation.modifyDate}}
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade col-md-12" id="relationEditModal" tabindex="-1" role="dialog" aria-labelledby="relationEditModalLabel"
    aria-hidden="true">
    <!-- <app-relation-edit [relationEdit]="relationEdit" [loadRelation]="theBoundCallback"></app-relation-edit> -->
    <app-relation-edit [relationEdit]="relationEdit" [search]="theBoundCallback"></app-relation-edit>
  </div>
</div>