<div class="container">
  <div class="text-center">
    <h3>關係人資料建檔</h3>
  </div>
  <!-- <div class="float-label-control pull-right">
    <div class="btn btn-sm btn-default">匯入檔案
      <input class="uploadfile-style" (change)="fileChange($event)" name="filePath" type="file">
    </div>
  </div> -->
  <form [formGroup]="relationForm">
    <div class="form-group">
      <div class="col-sm-6">
        <label>登錄原因：</label>
        <input class="input" type="text" placeholder="登錄原因" formControlName="reason">
        <div *ngIf="relationForm.controls['reason'].touched && relationForm.controls['reason'].invalid" class="alert alert-danger">
          請輸入登錄原因
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <label>登錄人員：</label>
      <input class="input" type="text" placeholder="建檔人員" formControlName="user">
      <div *ngIf="relationForm.controls['user'].touched && relationForm.controls['user'].invalid" class="alert alert-danger">
        請輸入建檔人員
      </div>
    </div>

    <div formArrayName="subjects">
      <div class="col-md-12">
        <div class="margin-20 pull-right">
          <button (click)="addSubject()" class='btn btn-primary'>
            <i class="fa fa-plus fa-1" aria-hidden="true">添加借款人</i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div *ngFor="let subject of relationForm.controls['subjects'].controls; let i=index">
          <label>借款人 {{i + 1}}</label>
          <button class='btn btn-warning pull-right' *ngIf="relationForm.controls['subjects'].controls.length > 1" (click)="remove(i,'subjects')">
            <i class="fa fa-times"></i>
          </button>
          <div class="form-group" [formGroupName]="i">
            <input class="input" type="text" placeholder="負責人/公司名" formControlName="name">
            <input class="input" type="text" placeholder="負責人/公司統編" formControlName="idNumber">
            <input class="input" type="text" placeholder="註記" formControlName="memo">
            <div *ngIf="(relationForm.controls['subjects'].controls[i].controls.idNumber.touched||relationForm.controls['subjects'].controls[i].controls.name.touched) && relationForm.controls['subjects'].controls[i].hasError('checkValidate')"
              class="alert alert-danger">
              姓名與統編須擇一輸入
            </div>
            <div *ngIf="relationForm.controls['subjects'].controls[i].controls.memo.touched && relationForm.controls['subjects'].controls[i].controls.memo.invalid"
              class="alert alert-danger">
              請輸入註記
            </div>
          </div>
        </div>
      </div>
    </div>




    <div formArrayName="objects">
      <div class="col-md-12">
        <div class="margin-20 pull-right">
          <button (click)="addObject()" class='btn btn-primary'>
            <i class="fa fa-plus fa-1" aria-hidden="true">添加關係人</i>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div *ngFor="let object of relationForm.controls['objects'].controls; let i=index">

          <label>關係人/公司 {{i + 1}}</label>
          <button class='btn btn-warning pull-right' *ngIf="relationForm.controls['objects'].controls.length > 1" (click)="remove(i,'objects')">
            <i class="fa fa-times"></i>
          </button>

          <div class="form-group" [formGroupName]="i">
            <input class="input" type="text" placeholder="關係人/公司名" formControlName="name">
            <input class="input" type="text" placeholder="關係人/公司統編" formControlName="idNumber">
            <input class="input" type="text" placeholder="註記" formControlName="memo">

            <!-- <angular2-multiselect [data]="dropdownList" [settings]="dropdownSettings" formControlName="relationType">
            </angular2-multiselect> -->

            <tag-input formControlName="relationType" placeholder='+' secondaryPlaceholder='請輸入關係'>
              <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="autoCompleteList">
              </tag-input-dropdown>
            </tag-input>


            <div *ngIf="(relationForm.controls['objects'].controls[i].controls.idNumber.touched||relationForm.controls['objects'].controls[i].controls.name.touched) && relationForm.controls['objects'].controls[i].hasError('checkValidate')"
              class="alert alert-danger">
              姓名與統編須擇一輸入
            </div>
            <div *ngIf="relationForm.controls['objects'].controls[i].controls.relationType.touched && relationForm.controls['objects'].controls[i].controls.relationType.invalid"
              class="alert alert-danger">
              請輸入關係
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="button pull-right">
    <button class="btn btn-primary" *ngIf="!relationForm.invalid" (click)="addRelation()">新增</button>
    <button class="btn btn-danger" *ngIf="relationForm.touched" (click)="clearForm()">清除</button>
  </div>


</div>